<h1>CREATE AN APPOINTMENT</h1>

<div class="container">
    <form action="/appointiment" method="POST">
  
      <label for="fname">Name</label>
      <input type="text" id="fname" name="name" placeholder="Your name.." required>
      
      <label for="email">Email adress</label>
      <input type="text" id="" name="email" placeholder="Your email.." required>
  
     <label for="select">Select a service</label>
      <select class="form-control" id="Select" name="selections">
        <option value="1" selected>Select service</option>
        <option value="2">Name of service</option>
        <option value="3">Name of service</option>
        <option value="4">Name of service</option>
        <option value="5">Name of service</option>
    </select>

    <label for="Time">Pick a time</label>
    <select class="form-control" id="Select2" name="time">
      <option value="" selected>Time</option>
      <option value="1">8 AM TO 10AM</option>
      <option value="1">10 AM TO 12PM</option>
      <option value="1">12PM TO 2PM</option>
      <option value="1">2PM TO 4PM</option>
      <option value="1">4PM TO 6PM</option>
      <option value="1">6PM TO 8PM</option>
      <option value="1">4PM TO 10PM</option>
      <option value="1">10PM TO 12PM</option>
  </select>
  
      <label for="note">Subject</label>
      <textarea id="subject" name="subject"  placeholder="Write your note here.." style="height:150px"></textarea> 

      <label for="note">Message</label>
      <textarea id="massage" name="message" placeholder="Write your note here.." style="height:200px"></textarea> 
      <input type="submit" value="Submit" class="button" id="submit">
  
    </form>
  </div>

<style>
  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}
input[type=submit].button{
  position: relative;
  left: 43%;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  max-width: 500px;
  margin:0 auto;

}
h1{
  margin-top: 15px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 25px;
}
</style>